<div class="container"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxFlexFill>
    <!-- Bio - 30% Left Side -->
    <div class="bio"
        fxLayout="column"
        fxLayout.lt-md="row"
        fxLayoutAlign="center center"
        fxFlex="25"
        fxFlexFill>
            <img class="profile-photo" 
                src="../../../assets/purple-polo-and-sunnys.jpg"
                alt="Profile Photo"
                draggable="false"
                fxFlex=25
                fxFlex.gt-md=30>
            <div class="bio-text"
                fxLayoutAlign="start start">
                <p class="text"> 
                    Human
                    <br>
                    Software Developer 
                    <br> 
                    London
                </p>
            </div>
    </div>
    <!-- Content - 70% Right Side -->
    <div ngClass="content"
        ngClass.lt-md="mobile-content"
        fxLayout="row" 
        fxLayoutAlign="center stretch"
        fxFlex="75">
        <home-body-component> </home-body-component>
    </div>
</div>
