<div class="container">
    <h2>Personal</h2>
    <p>
        In my personal time i learn about the environment, how i and others are effecting it, 
        the results of which and try to find technological solutions.    
    </p>
    <h2>Experience</h2>
    <p>
        I am a full stack developer with experience using C#, dot.NET, .NET Core, Typescript, Angular, 
        Node.js, Express.js and SQL. 
        
        When utilising other libraries and frameworks i find it favourable to 
        wrap them to facilitate testing and allow interchangeability which can lower risk associated 
        with dependencies on specific 3rd party resources. 
        
        I have also set up CI/CD pipelines utilising Microsoft DevOps for these environments. 
        I enjoy learning more about this to improve the development and release cycles of projects. 
    </p>
    <p>
        I have worked on projects ranging from E2E IOT solutions, API's, UI development, Powershell and 
        or Bash scripting to automate and link processes as well as generating reports directly from 
        databases in queries and stored procedures. 
    </p>

    <h2>Development Assumptions</h2>
    <p>
        I believe testing is a necessity to create quality products. I try to work in a TDD 
        environnement where minimum code coverage inspected in the CI/CD pipeline to ensure quality
        and aid any extension of the codebase in the future.
    </p>

    <h2>Development Preferences</h2>
    <p>
        I like the bleeding edge of technology and to generate new ideas, 
        find new (more effective/efficient) answers to to everyday problems 
        or a subject im currently researching. 
        Furthermore i like to improve upon what has been done before, learn from previous experience and be better tomrrow.
    </p>

</div>