extends layout

block content
    .row#content
        #row1-offset.col-sm-1.col-md-1

        #row1-content.row.col-sm-10.col-md-10
            #title.row.col-sm-12.col-md-12
                h1= title
            #main.col-sm-10.col-md-8
                p= main
                p= intro + intro + intro + intro + intro + intro + intro + intro
            #sideElement.col-sm-4.col-md-4
                p= sideElement
                .card.fluid
                    .section
                        a: h3(href='/') GitHub
                        
        #row1-offset.col-sm-1.col-md-1