extends layout

block content
    div.row#content
        div#row1-offset.col-sm-1.col-md-1

        div.row.col-sm-10.col-md-10
            div#title.row.col-sm-12.col-md-12
                h1= title
            div#intro.col-sm-10.col-md-8
                p= intro 
            div.col-sm-2.col-md-4
                p  Lorem ipsum dolor sit amet, mauris nibh eget nulla dolor dolor, pellentesque dignissim aliquam est leo urna, eu magna amet erat cubilia, sit eget amet augue, tellus vestibulum hendrerit amet nam eget. Sed enim tempor eget sed magna, vel nunc tortor tincidunt ut, ac ad habitasse, urna cum integer libero faucibus. 

        div#row1-offset.col-sm-1.col-md-1