/* 
    header fonts 
    bring to front 
*/
header {
    font-family: 'Roboto', sans-serif;
    z-index: 10;
}

/* header a elements invert on hover */
header a:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

body {
    /*padding-bottom: 20px;*/
    font-family: 'Open Sans', sans-serif;
}

/* p size for better readabilty */
p {
    font-size: 1.1em;
}

/*
    circle effect on picture id
    pointer effect - np drag 
*/
#profile-pic {
    border-radius: 50%;
    pointer-events: none;
    padding-top: 10px;
    width: auto;
}

/*
    sidebar id element  
*/
#sidebar {
    text-align: right;
}

/*
    footer font type
    footer to front 
    fixed posistion and size 
*/
footer {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    z-index: 10;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    margin-top: -5px;
    width: 100%;
    height: auto;
}

/* 
    thematic break color 
*/
hr#index {
    border-top: 2px solid #8c8b8b;
    text-align: center;
    margin-top: -15px;
    z-index: 10;
    width: 100%;
}

/* 
    thematic break posistioning to be under text above on id of index
*/
hr#index:after {
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 10px;
    width: 100%;
}

/* 
    top padding class
*/
.top-pad {
    padding-top: 3em;
    background-color: white;
}

/* 
    bottom padding class
*/
.bottom-pad {
    padding-bottom: 4.5em;
    background-color: white;
}

/*
    content id element 
    background color white to add contrast from smokey background
    z-index to put in behind nav and footer 
    min height to prevent element ending before screen 
*/
#content {
    background-color: white;
    top: 0;
    bottom: 0;
    z-index: -1;
    /*min-height: 90vh;*/
    min-height: 85vh;
    width: auto;
}

/*
    footer id element 
*/
#footer-text {
    padding-top: 0px;
    text-align: center;
}

/* 
    selected content 
*/
::-moz-selection {
    color: white;
    background: #2e3440;
}

/* 
    selected content 
*/
::selection {
    color: white;
    background: #2e3440;
}

/* 
    unvisited link
*/
a:link {
    color: blue;
}

/* 
    visited link 
*/
a:visited {
    color: blue;
}

/* 
    mouse over link 
*/
a:hover {
    color: white;
    background-color: #2e3440;
}

/* 
    when interacted with 
*/
a:active {
    color: #2e3440;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
